<%= form_with(model: [@campaign, @post], local: true, class:"form-horizontal") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "control-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :body, class: "control-label mt-3" %><br>
    <%= form.text_area :body, cols: 50, rows: 15, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :post_date, class: "control-label mt-3" %>
    <%= form.datetime_select :post_date %>
  </div>

  <div class="field">

    <%# form.text_field :user_id.name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Post", class: "btn btn-outline-success mt-2 mb-3"  %>
  </div>
<% end %>