<%= form_with(model: campaign, local: true, class:"form-horizontal") do |form| %>

  <%= render 'shared/errors', obj: @campaign %>

  <div class="field">
    <%= form.label :name, class:"col-form-label" %> <br>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :due_start %> <br>
    <%=form.datetime_local_field :due_start, class:"form-control"%>
    <%# form.datetime_select :due_start %>
  </div>

  <div class="field">
    <%= form.label :due_end %> <br>
    <%= form.datetime_select :due_end %>
  </div>

  <div class="actions"> <br>
    <%= form.submit 'Create Campaign', class: "btn btn-outline-success mb-3" %>
  </div>
<% end %>
