<p id="notice"><%= notice %></p>
<%= link_to '< Back', campaigns_path %> |
<%= link_to 'Edit', edit_campaign_path(@campaign) %> 

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Due start:</strong>
  <%= @campaign.due_start %>
</p>

<p>
  <strong>Due end:</strong>
  <%= @campaign.due_end %>
</p>

<small>
    Created <%= time_ago_in_words(@campaign.created_at) %> ago
  |
    Last edited <%= time_ago_in_words(@campaign.updated_at) %> ago
</small><br>

<h2>List Of Posts</h2>

<%= render 'posts/post' %>

<%= link_to 'New Post >', new_campaign_post_path(@campaign) %>
