<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5">
    <footer>
        <div class='social-note'>
            <small>
                &copy;2019. Social Media <br>Managment Tool
            </small>
        </div>
        <div class='social-block'>
            <% if current_user %>
                <div>
                    <%= current_user.name %><br>
                    <%# image_tag(current_user.image) %>
                </div>
            <% end %>
            <% unless current_user %>
                <%= link_to user_facebook_omniauth_authorize_path do %>
                <i class="fab fa-facebook-f"></i>
                <% end %>
            <% else %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fab fa-facebook"> Logout</i>
                <% end %>
            <% end %>
        </div>
        <div class='social-block'>
            <% if current_user %>
                <div>
                    <%= current_user.name %><br>
                    <%# image_tag(current_user.image) %>
                </div>
            <% end %>
            <% unless current_user %>
                <%= link_to root_path do %>
                <i class="fab fa-instagram"></i>
                <% end %>
            <% else %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fab fa-instagram"> Logout</i>
                <% end %>
            <% end %>
        </div>

        <div class='social-block'>
            <% if current_user %>
                <div>
                    <%= current_user.name %><br>
                    <%# image_tag(current_user.image) %>
                </div>
            <% end %>
            <% unless current_user %>
                <%= link_to root_path do %>
                <i class="fab fa-twitter"></i>
                <% end %>
            <% else %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fab fa-twitter-square"></i>
                <% end %>
            <% end %>
        </div>
        
    </footer>
</nav>