<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
  <a class="navbar-brand" href="#" style="color:#F7DF1E">Social Media Managment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Campaigns', campaigns_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link" %>
      </li>
    </ul>

      <div class='social-block'>
          <% if current_user %>
              <div>
                  <%= current_user.name %><br>
                  <%# image_tag(current_user.image) %>
              </div>
          <% end %>
          <% unless current_user %>
              <%= link_to user_facebook_omniauth_authorize_path do %>
              <i class="fab fa-facebook-f" style="color:white"></i>
              <% end %>
          <% else %>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fab fa-facebook" style="color:white"><small> Logout</small></i>
              <% end %>
          <% end %>
      </div>
      <div class='social-block'>
          
          <% unless current_user %>
              <%= link_to root_path do %>
              <i class="fab fa-instagram" style="color:white"></i>
              <% end %>
          <% else %>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fab fa-instagram" style="color:white"></i>
              <% end %>
          <% end %>
      </div>

      <div class='social-block'>
          
          <% unless current_user %>
              <%= link_to root_path do %>
              <i class="fab fa-twitter" style="color:white"></i>
              <% end %>
          <% else %>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fab fa-twitter-square" style="color:white"></i>
              <% end %>
          <% end %>
      </div>
      
    </form>
  </div>
</nav>